[Desktop Entry]
Name=Rocks & Diamonds
Comment=Boulderdash clone
Name[ja]=ロックス＆ダイアモンズ
Comment[pl]=Klon Boulderdasha
Icon=rocksndiamonds.png
Exec=rocksndiamonds
Terminal=0
Type=Application
