[Desktop Entry]
Name=Rocks & Diamonds
Name[af]=Klippe n Diamante
Name[eo]=Rokoj kaj diamantoj
Name[es]=Rocas y diamantes
Name[fr]=Rocks'n'Diamonds
Name[is]=Steinar og demantar
Name[lt]=Uolos ir deimantai
Name[lv]=Akmeņi un Dimanti
Name[no]=Steiner og diamanter
Name[pl]=Głazy i diamenty
Name[pt]=Pedras e Diamantes
Name[pt_BR]=Minas e Armadilhas
Name[ro]=Pietre şi diamante
Name[sl]=Skale in diamanti
Name[uk]=Камені та діаманти
Name[ven]=Matombo na Musuku
Name[vi]=Đá và Kim cương
Name[xh]=Imiqolomba n Iidayimani
Name[zh_CN]=岩石和钻石
Name[zu]=Amatshe namadayimonde
Comment=Boulderdash clone
Comment[pl]=Klon Boulderdasha
Icon=rocksndiamonds.png
Exec=rocksndiamonds
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
